<p id="notice"><%= notice %></p>

<p>
  <strong>Graphic:</strong>
   <%=  image_tag @library.graphic %>
</p>

<p>
  <strong>Book title:</strong>
  <%= @library.book_title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @library.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @library.price %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @library.publisher %>
</p>

<p>
  <strong>Release:</strong>
  <%= @library.Release %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
